<header>
  <%= render "home/shared/header" %>
</header>

<main class="container">
  <h1 class="mt-3">Inicio</h1>
  <hr>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow">
          <% if user_signed_in? && current_user == product.user %>
            <div class="position-absolute top-0 end-0 mt-2 me-2">
              <i class="fas fa-star text-danger"></i>
            </div>
          <% end %>

          <div class="card-body" style="background-color: #FFD200;">
            <h5 class="card-title text-center">
              <%= link_to product.name, product, class: "text-decoration-none" %>
            </h5>
          </div>

          <hr>

          <% if product.image.attached? %>
            <%= image_tag product.image.variant(resize_to_limit: [150, 150]), class: "card-img-top img-fluid" %>
          <% else %>
            <!-- Imagen predeterminada o mensaje si no hay imagen -->
            <p>No hay imagen disponible</p>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
</main>
